@model IEnumerable<Ogrenci>
@{
	ViewData["Title"] = "OgrenciListe";
}

<h1>Ogrenci Listesi</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Ad</th>
			<th>Soyad</th>
			<th>Numara</th>
			<th>İşlemler</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Ad</td>
				<td>@item.Soyad</td>
				<td>@item.Numara</td>
				<td>
					<a class="btn btn-primary" href="/Ogrenci/OgrenciDuzenle/@item.Ogrenciid">Düzenle</a>


					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-@item.Ogrenciid">Sil</button>

					<form action="/Ogrenci/OgrenciSil" method="post">
						<input type="hidden" name="id" value="@item.Ogrenciid" />
						<input class="btn btn-sm btn-primary text-white" type="submit" value="Öğrenciyi sil" onclick="return confirm('Silmek istediğinizden emin misiniz?')"/>
					</form>

				</td>
			</tr>
		}
	</tbody>
</table>

